/* Waldo Nieman,37943278 */
/* styles.css */

/* Reset a few default styles */
body,
p,
ul,
li,
a,
h1,
h2,
h3{

  list-style: none;
  text-decoration: none;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: clamp(15px, 1.5vw, 18px); /* Adjust the base font */
}

/* For heading elements, adjust the clamp values accordingly to ensure they scale up more*/
h1 {
  font-size: clamp(37px, 5vw, 34px);
}
h2 {
  font-size: clamp(22px, 4vw, 30px);
}
h3 {
  font-size: clamp(18px, 3.5vw, 24px);
}

/* Global styles */
header {
    background-color: #556B2F;
    color: #fff;
    text-align: center;
    padding: 76.5px 0;
  }

body {
  background-color: #fff;
  color: #556B2F;
}


nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: #fff;
  font-weight: bold;
}

.section {
  padding: 20px;
}

.section h2,
#intro {
  color: #556B2F;
  margin-bottom: 10px;
  text-align: center;
}

.img-cv {
width: 200px;
position: absolute;
top: 0;
left: 0;
}

#hr1 {
  width: 50%;
}

.section-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.section.animate {
  opacity: 1;
  transform: translateY(0);
}

.mobile-nav,
.mobile-nav ul li a,
.menu-icon {
  display: none;
}

/* Interaction Styles & Responsive Styles */
@media (max-width: 768px) {
  .img-cv {
   display: none;
    }
  header {
    padding: 10px 0;
  }

  nav ul {
    flex-direction: column;
    display: none;
  }

  nav li {
    margin: 10px 0;
  }

  .menu-icon {
    display: block;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }

  .mobile-nav.active {
    display: block;
    background-color: #556B2F;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .mobile-nav.active ul {
    padding: 20px;
    background-color: #556B2F;
    list-style: none;
    text-align: center;
  }

  .mobile-nav.active ul li {
    margin: 10px 0;
  }

  .mobile-nav.active ul li a {
    color: #fff;
    font-weight: bold;
  }
}

