/* Waldo Nieman, 37943278 */
/* styles.css */
/* Here I changed all the styles of my website components */

/* Reset a few default styles */
body,
p,
ul,
li,
a,
h1,
h2,
h3 {
  list-style: none;
  text-decoration: none;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: clamp(15px, 1.5vw, 18px); /* Adjust the base font */
}

/* For heading elements, adjust the clamp values accordingly to ensure they scale up more */
/* Change font size here */
h1 {
  font-size: clamp(45px, 6vw, 38px);
}
h2 {
  font-size: clamp(28px, 5vw, 30px);
}
h3 {
  font-size: clamp(18px, 3.5vw, 24px);
}

/* Global styles of header body etc with colours and align funtions*/
header {
  display: flex;
  align-items: center;
  background-color: #556B2F;
  color: #fff;
  padding: 20px;
}

/*Change image size and style*/
.img-cv {
  width: clamp(150px, 17vw, 250px);
  height: auto;
  margin-right: 20px;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers the content vertically */
  align-items: center;     /* Centers the content horizontally */
  flex: 1;                 /* Ensures the content takes up the remaining space */
}

header h1 {
  margin: 0 0 10px;
}

header hr {
  width: 50%;
  border: 1px solid #fff;
  margin: 10px 0;
}

nav ul {
  display: flex;
  justify-content: flex-start;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  font-weight: bold;
}

body {
  background-color: #fff;
  color: #556B2F;
}

.section {
  padding: 20px;
}

.section h2,
#intro {
  color: #556B2F;
  margin-bottom: 10px;
  text-align: center;
}

.section-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.section.animate {
  opacity: 1;
  transform: translateY(0);
}

.mobile-nav,
.mobile-nav ul li a,
.menu-icon {
  display: none;
}

/* Interaction Styles & Responsive Styles when screen size is smaller */
@media (max-width: 768px) {
  /*When Viewing website on mobile device no picture is shown becuase of screen size being smaller*/
  .img-cv {
    display: none;
  }

  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    display: none;
  }

  nav li {
    margin: 10px 0;
  }

  .menu-icon {
    display: block;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }

  .mobile-nav.active {
    display: block;
    background-color: #556B2F;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .mobile-nav.active ul {
    padding: 20px;
    background-color: #556B2F;
    list-style: none;
    text-align: center;
  }

  .mobile-nav.active ul li {
    margin: 10px 0;
  }

  .mobile-nav.active ul li a {
    color: #fff;
    font-weight: bold;
  }
}
